<div class="modal-header">
   <h4 class="modal-title">Participación por {{question ? 'Pregunta' : 'Actividad'}}</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<div class="modal-body">


   <div class="m-portlet__body">

      <!-- LEYENDA -->
      <div class="form-group m-form__group m--margin-top-10">
         <div *ngIf="question" class="alert m-alert m-alert--default" role="alert">
           A continuación, se presenta el resumen de participación de los estudiantes en la {{question ? 'pregunta' : 'actividad'}}: <b>{{question?.description}}</b>
           {{overview | json}}
         </div>
      </div>
      <!-- FIN LEYENDA -->

      <div class="m-portlet__body">
         <div class="form-group m-form__group row">


            <!-- BODY 1 -->
            <div class="col-lg-6">
               <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

                  <table class="cw-table">
                     <thead>
                        <tr>
                           <th class="center">#</th>
                           <th class="center">Cédula</th>
                           <th>Estudiante</th>
                           <th>Ganador</th>
                        </tr>
                     </thead>
                     <tbody>

                        <tr *ngFor="let student of data_students; let i=index">
                           <td>{{i+1}}</td>
                           <td class="center">{{student.document}}</td>
                           <td class="nowrap">{{student.name}} {{student.last_name}} {{student.middle_name}}</td>

                           <td class="center">
                              <div *ngIf="activity; else question" style="width: 50%; cursor: pointer;"
                                 (click)="changeStudentStatus(student)">

                                 <!-- En una actividad existen 2 estados para el estudiante -->

                                 <img *ngIf="student.status == 2; else blank" src="assets/images/checked.svg" alt="">
                                 <ng-template #blank>
                                    <img src="assets/images/blank.svg" alt="">
                                 </ng-template>

                              </div>
                              <ng-template #question>
                                 <div>

                                    <select [(ngModel)]="student.status" (ngModelChange)="changeStatus(student)"
                                       class="m-datatable__pager-size" style="width:160px">>
                                       <option [ngValue]="1">no participa</option>
                                       <option [ngValue]="2">no seleccionado</option>
                                       <option [ngValue]="4">perdedor</option>
                                       <option [ngValue]="5">ganador</option>
                                    </select>
                                 </div>
                              </ng-template>
                           </td>
                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>


            <!-- BODY 2 -->
            <div class="col-lg-6">
               <div *ngIf="option" echarts [options]="option" [merge]="update_options" class="demo-chart"></div>
            </div>


         </div>
      </div>

   </div>



</div>

<div class="modal-footer">
   <button type="button" class="btn btn-info" (click)="activeModal.close()">Cerrar</button>
   <button *ngIf="activity" type="submit" (click)="updateWinners()" class="btn btn-info"
      [disabled]="add_winners.length == 0 && delete_winners.length == 0">Actualizar</button>

   <button *ngIf="question" type="submit" (click)="updateWinners()" class="btn btn-info"
      [disabled]="update_status_requests.length == 0">Actualizar</button>

</div>
