<!-- HEADER -->
<div class="modal-header">
   <h4 class="modal-title">Área de Juego</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<!-- BODY -->
<div class="modal-body">
   <div class="m-portlet__body">

      <!-- HEADER DEL BODY -->
      <div class="form-group m-form__group m--margin-top-10">

         <div class="alert m-alert m-alert--default" role="alert">
            Es necesario que tu profesor inicie una pregunta. Por favor ten paciencia.
            <br><br>
            <ul>
               <li><b>Módulo: </b>{{class.module}}
               </li>
               <li><b>Clase: </b>{{class.description}}
               <li><b>Estado (curren_question.status): </b>
                  {{current_question?.status}} -
                  {{
                  (!current_question) ? 'Esperando Pregunta.' :
                  (current_question && current_question.status == 2) ? 'Pregunta Iniciada. Esperando Participantes.' :
                  (current_question && current_question.status == 3) ? 'Participación Detenida. Seleccionando Participante.':
                  (current_question && current_question.status == 4) ? 'Estudiante seleccionado para responder.':
                  'Participación Finalizada'
                  }} </li>
            </ul>

         </div>
      </div>

      <!-- CONTENT DEL BODY -->
      <div class="m-portlet__body">
         <div class="form-group m-form__group row">

            <!-- PREGUNTA EN JUEGO Y BOTONES -->
            <div class="col-lg-8">
               <div [ngSwitch]="current_participation_status">
                  <p *ngSwitchCase="1">🙄 en espera</p>
                  <p *ngSwitchCase="2">🤚 no seleccionado</p>
                  <p *ngSwitchCase="3">🤠 seleccionado</p>
                  <p *ngSwitchCase="4">😭 perdedor</p>
                  <p *ngSwitchCase="5">🥳 ganador</p>
               </div>


               <ng-container *ngIf="!overview; else overviewx">
                  <!-- ESPERANDO PREGUNTA (LOADER) -->
                  <div *ngIf="!current_question" class="container"
                     style="width: 100%; background-color: turquoise; height: 350px; border-radius: 10px;">
                     <p
                        style="margin-top: -210px; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                        Porfavor espera mientrás se realiza la pregunta.
                     </p>
                     <div class="outer-circle">
                     </div>
                     <div class="inner-circle"></div>
                  </div>

                  <!-- PREGUNTA INICIADA -->
                  <div
                     *ngIf="current_question?.status == 2 || current_question?.status == 3 || current_question?.status == 4"
                     class="container" style="display: grid; width: 100%; height: 350px; border-radius: 10px;"
                     [style.background-color]="current_question.status == 2 ? '#ffb961' : current_question.status == 3 ? '#f3826f' : (current_question.status == 4 && current_participation_status == 3) ? '#614ad3': '#2d3561'">

                     <div>
                        <p style="margin: 0; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                           {{current_question?.description}}
                        </p>
                        <div (click)="imageZoom(current_question)" *ngIf="current_question.image">
                           <img style="height: 200px; cursor: pointer"
                              [src]="'http://146.83.109.228:3300/'+current_question?.image">
                        </div>
                     </div>

                     <div *ngIf="current_question?.status == 2">
                        <!-- BOTÓN DE PARTICIPAR -->
                        <div *ngIf="current_participation_status == 1">
                              <button (click)="updateParticipantStatus(2)" type="button"
                              class="btn m-btn--pill m-btn--air btn-primary">
                              Participar!
                           </button>
               
                        </div>

                        <!-- BOTÓN DE CANCELAR LA PARTICIPACIÓN -->
                        <div *ngIf="current_participation_status == 2">

                           <button (click)="updateParticipantStatus(1)" type="button"
                              class="btn m-btn--pill m-btn--air btn-primary">
                              Cancelar Participación
                           </button>
                           <!--<button (click)="cancelParticipateOnQuestion()" type="button"
                              class="btn m-btn--pill m-btn--air btn-primary">
                              Cancelar Participación
                           </button>-->
                        </div>
                     </div>

                  </div>
               </ng-container>

               <ng-template #overviewx>
                  <div class="container"
                     style="width: 100%; background-color: turquoise; height: 350px; border-radius: 10px;">
                     Pregunta Finalizada
                     {{counter_ended_question}}
                     <br>
                     <p>
                        Total Participantes: {{overview.total}}
                        No Seleccionados: {{overview.no_selected}}
                        Perdedores: {{overview.losers}}
                        Ganador: {{overview.winner_name}}
                     </p>

                     <div>
                        <button (click)="closeOverview()" type="button" class="btn m-btn--pill m-btn--air btn-primary">
                           Cerrar Resumen
                        </button>
                     </div>
                  </div>
               </ng-template>



               <!-- PARTICIPACIÓN DETENIDA -->
               <!--<div *ngIf="current_question && current_question.status == 3" class="container" style="width: 100%; background-color: #c05c7e; height: 350px; border-radius: 10px;">
                 
                  <p style="margin: 0; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                     {{current_question?.description}}
                  </p>

               </div>-->


            </div>

            <!-- LISTADO DE ESTUDIANTES EN LA SALA -->
            <div class="col-lg-4">
               <label class="form-control-label">Estudiantes: {{total_attendes}}</label>

               <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

                  <table class="cw-table" style="height: 300px;">
                     <thead>
                        <tr>
                           <th class="center">#</th>
                           <th>Estudiante</th>
                           <th>Estado</th>
                        </tr>
                     </thead>
                     <tbody>

                        <tr *ngFor="let student of data_attendes; let i=index">
                           <td class="center">{{i+1}}</td>

                           <td class="nowrap">
                              <div class="m-widget4__item">

                                 <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                       {{student.name}} {{student.last_name}} {{student.middle_name}}
                                    </span><br>

                                    <span class="m-widget4__sub" style="font-size: .8rem;">
                                       {{student.document}}
                                    </span>
                                 </div>

                              </div>
                           </td>

                           <td class="center">
                              {{(student.participation_status == 1) ? 'en espera' :
                              (student.participation_status == 2) ? 'desea responder' :
                              (student.participation_status == 3) ? 'seleccionado para responder':
                              (student.participation_status == 4) ? 'perdedor':
                              (student.participation_status == 5) ? 'ganador':
                              'error' }}
                           </td>

                        </tr>

                     </tbody>
                  </table>
                  <!-- <p style="margin-top: 1rem">Total de Participantes: --</p> -->
               </div>

            </div>

         </div>
      </div>

   </div>

</div>

<!-- FOOTER -->
<div class="modal-footer">
   <button type="button" class="btn btn-info" (click)="activeModal.close()">Cerrar</button>

</div>